Source: fribidi
Section: libs
Priority: optional
Maintainer: Debian Hebrew Packaging Team <debian-hebrew-package@lists.alioth.debian.org>
Uploaders: Baruch Even <baruch@debian.org>, Lior Kaplan <webmaster@guides.co.il>
Standards-Version: 3.6.2
Build-Depends: debhelper (>> 4.0.0), pkg-config

Package: libfribidi0
Architecture: any
Depends: ${shlibs:Depends}
Description: Free Implementation of the Unicode BiDi algorithm
 FriBiDi is a BiDi algorithm implementation for Hebrew and/or Arabic
 languages.
 .
 Upstream: http://freedesktop.org/Software/FriBidi

Package: libfribidi-dev
Architecture: any
Section: libdevel
Depends: libfribidi0 (= ${Source-Version})
Description: Development files for FreeBidi library
 This package contains the header files and static libraries for the
 FriBidi C library.
 .
 Upstream: http://freedesktop.org/Software/FriBidi

Package: libfribidi0-udeb
Architecture: any
Section: debian-installer
Priority: extra
Depends: libc-udeb
Description: Free Implementation of the Unicode BiDi algorithm
 This Debian Installer component provided Bidirectional support 
 for Arabic and/or Hebrew languages.

